@model Ticket

<h2>Create Ticket</h2>

@using (Html.BeginForm())
{
        <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
        @Html.LabelFor(model => model.ModuleCode)
        @Html.TextBoxFor(model => model.ModuleCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ModuleCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
}
